@charset "utf-8";

/*CSS file for Cassaundra Caldwell's portfolio*/
#nameLogo {
  max-width: 80%;
  height: auto;
}

#miniLogo {
  max-width: 80%;
  height: auto;
}

#diabetesLogo {
  max-width: 80%;
  height: auto;
}

.headTitles {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 22px;
  padding-bottom: 5px;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.col-md-8,
.col-md-4 {
  padding-top: 10px;
}

.well {
  padding-top: 10px;
  padding-bottom: 10px;
}