@charset "utf-8";

/*CSS file for Cassaundra Caldwell's portfolio*/
#nameLogo {
  max-width: 80%;
  height: 100%;
}

.icon img {
  height: 108px;
  width: 90px;
  object-fit: contain;
}

.headTitles {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 22px;
  padding-bottom: 5px;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.col-md-8,
.col-md-4 {
  padding-top: 20px;
}

.info {
  display: none;
}

.popup {
  display: none;
  position: fixed;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background: white;
}